# Python cache
__pycache__/
*.py[cod]

# Virtual environments
venv/
.env
*.env

# Vector DB and data
backend/data/chroma/
backend/data/*.pdf
backend/data/*.png
backend/data/*.jpg
backend/data/*.jpeg
backend/data/*.txt

# Mac / Windows / IDE
.DS_Store
*.log
*.tmp
.vscode/
.idea/

# Streamlit cache
*.db
.streamlit/
